* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  line-height: 1.6;
  text-align: center;
}

.header {
  padding: 10px 5px;
  background-color: #0a2a53;
  color: #fff;
}

.card {
  background-color: #989898;
  width: 70%;
  margin: 10px auto;
  padding: 15px;
  border-radius: 15px;
}

.task {
  background-color: #fff;
  margin: 10px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
  width: 50px;
}

.action-buttons > * {
  cursor: pointer;
}